:root {
  --background-color: #fff;
  --background-highlight: #f0f0f0;
  --background-highlight-2: #777;

  --text-color: #333;

  --accent-color: #d65d0e;
  --accent-color-shade: #b94c0a;
  --accent-color-highlight: #e8a400;

  --success-color: #4caf50;
  --warning-color: #ff9800;
  --error-color: #f44336;
  --info-color: #00bcd4;
}

:root.dark {
  --background-color: #282828;
  --background-highlight: #32302f;

  --text-color: #f0f0f0;

  --accent-color: #d65d0e;
  --accent-color-shade: #b94c0a;
  --accent-color-highlight: #e8a400;

  --success-color: #4caf50;
  --warning-color: #ff9800;
  --error-color: #f44336;
  --info-color: #00bcd4;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 0;
  margin: 0;
}
